{% extends "base.html" %} {% block content %}
<div class="page-container">
  <div class="page-card">
    <h2>About PhishShield-AI</h2>

    <p>
      PhishShield-AI is an AI-powered phishing detection system designed to
      identify malicious websites using machine learning models.
    </p>

    <p>
      It analyzes multiple website features and predicts the probability of a
      URL being phishing or legitimate in real time.
    </p>

    <div class="about-stats">
      <div class="stat-box">
        <h3>95%+</h3>
        <p>Model Accuracy</p>
      </div>

      <div class="stat-box">
        <h3>50+</h3>
        <p>Features Analyzed</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
